.bank-header {
  --header-bg: var(--mlt-sys-color-brand-primary);
  --header-color: var(--mlt-sys-color-white);
  --header-shadow: var(--mlt-sys-shadow-header);
  --header-padding: var(--mlt-sys-spacer-0) var(--mlt-sys-spacer-32);
  --header-height: var(--mlt-sys-width-70);

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--header-padding);
  height: var(--header-height);
  background-color: var(--header-bg);
  color: var(--header-color);
  box-shadow: var(--header-shadow);
  font-family: var(--mlt-sys-font-textos1);

  &__logo-container {
    display: flex;
    align-items: center;
    gap: var(--mlt-sys-spacer-10);
  }

  &__logo {
    --logo-bg: var(--mlt-sys-color-brand-secondary);
    --logo-radius: var(--mlt-sys-radius-4);
    --logo-size: var(--mlt-sys-width-35);

    width: var(--logo-size);
    height: var(--logo-size);
    background-color: var(--logo-bg);
    border-radius: var(--logo-radius);
  }

  &__name {
    font-size: var(--mlt-sys-font-size-12r);
    font-weight: var(--mlt-sys-font-weight-bold);
    letter-spacing: var(--mlt-sys-letter-spacing-1);
  }

  &__user-actions {
    display: flex;
    align-items: center;
    gap: var(--mlt-sys-spacer-20);
  }

 

 

  &__btn-logout {
    --logout-btn-border: var(--mlt-sys-color-brand-secondary);
    --logout-btn-color: var(--mlt-sys-color-brand-secondary);
    --logout-btn-radius: var(--mlt-sys-radius-20);
    --logout-btn-padding: var(--mlt-sys-spacer-8) var(--mlt-sys-spacer-16);

    background-color: transparent;
    border: 1px solid var(--logout-btn-border);
    color: var(--logout-btn-color);
    padding: var(--logout-btn-padding);
    border-radius: var(--logout-btn-radius);
    cursor: pointer;
    transition: all 0.3s;
    font-weight: var(--mlt-sys-font-weight-semibold);

    &:hover {
      background-color: var(--mlt-sys-color-brand-secondary);
      color: var(--mlt-sys-color-brand-primary);
    }
  }
}