<header class="header">
    <img class="header__logo" routerLink="/inicio" src="/assets/LogoExpress.png">
    <h1 class="g--color-light g--font-size-5 g--font-family-titulos">Admin Panel</h1>
    <ul class="header__nav-list">
    <li class="header__nav-item"><a class="header__nav-link" routerLink="/servicios">Gestión Servicios</a></li>
    </ul>
      <ul class="header__nav-list">
    <li class="header__nav-item"><a class="header__nav-link" routerLink="/categorias">Gestión Categorias</a></li>
    </ul>
</header>

